html * {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body {
    width:100%;
    margin: auto;
}
.logobutton {
    font-family: 'Pacifico', cursive;
    width:50px;
    height:50px;
    background-color:rgb(155, 0, 77);
    font-size:37px;
    color:white;
    margin:-50px 0px;
}
.col-sm img {
    width:200px;
}
.menu {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    text-align: center;
    height:45px;
}
.menu li a {
    font-size:20px;
    color:white;
    padding:8px 30px;
}
.menu li {
    float:none;
    display:inline-block;
}
.menu a {
    color:black;
    padding: 14px 20px;
    text-decoration: none;
    font-size:1.2rem;
    display:inline-block;
}
.menu a:hover {
    color:rgb(155, 0, 77);
}
/* tu się kończy sekcja filip */
.about-us, .contact {
    text-align: center;
    margin-bottom: 10px;
}
.element {
    display:inline-block;
    width: 337px;;
    height: 300px;
    text-align:center;
    
}

.element img {
    margin-left: 90px;
}

.element article {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px; 
}

.element article a {
    font-size: 25px;
    font-weight: bold;
}

input[type="submit"] {
    color: white;
    font-weight: bold;
    font-size:16px;
    width: 300px;
    height: 50px;
    border-color: rgb(155, 0, 77);
    border-radius: 5px;
    background: rgb(155, 0, 77);
    margin-bottom: 50px;
    margin-left: 522px;
}

.fb, .slack, .phone {
    display: inline-block;
    width: 90px;;
    height: 90px;
    margin-left: 15px;
    margin-top: 50px;
}
.contact-container {
    margin-left: 510px;
    margin-bottom: 50px;
}

.card {
   border: none;
}

.card-img-top {
    max-width: 150px;
    margin: 0 auto;
}

.card-body {
    text-align: justify;
}

.about-us a, .contact {
    font-size: 40px;
}

.card-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
