/*
#GameBoard{
display: flex;
flex-direction: row;
justify-content: center;
}
*/

#hero {
    height: 90px;
    width: 20px;
    position: absolute;
    top: 410px;
    
    
}
#background{
    background: rgb(210, 216, 176);
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    }
#laser{
    background: red;
    width: 5px;
    height: 20px; 
    position: absolute;
}
#enemy{
    background: blue;
    width: 35px;
    height: 35px;
    position: absolute;
}
.game_rules{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-block-start: 20px;
    }  